*
    margin: 0
    padding: 0

.hidden
	display: none

label.error
	color: #c7254e
	background: #f9f2f4

.article
    border-radius: 2px
    outline: 1px solid #BBB3B3
    box-shadow: 2px 2px 5px #999696

.article-header
    border-bottom: 1px solid #A1AFE4
    padding-left: 1%

.article-header a
    color: #416475
    &:hover
        color: #AFB6CF
        text-decoration: none

.article-prologue
    padding: 2%
