{% extends 'layout.html' %}

{% block navbar %}
<div class="navbar-inner">
  <a class="brand" href="/#">TaxiNews</a>
  <ul class="nav pull-right" id="auth">
    <!-- AUTH FORM -->
    {% if user %}
    <li>
      <a href="/#">{{ user.username }}</a>
    </li>

    <li>
      <a class="logout" href="#logout">Выйти</a>
    </li>
    {% else %}
    <li>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Войти
        <b class="caret"></b>
      </a>

      <div class="span4 well dropdown-menu">
        <form class="text-center" method="POST" action="" accept-charset="UTF-8" id="login">
          <div class="alert alert-error hidden">
            Неправильный логин или пароль!
          </div>
          <input type="text" class="span4" name="username" placeholder="Логин">
          <input type="password" class="span4" name="password" placeholder="Пароль">
          <button type="submit" class="btn btn-info btn-block btn-login">Войти</button>
          <div class="text-center">или</div>
          <button class="btn btn-info btn-primary btn-block" data-toggle="modal" href="#myModal">Зарегистрироваться
          </button>
        </form>
      </div>
    </li>
    {% endif %}
    <!-- END AUTH FORM -->
  </ul>
</div>
{% endblock %}

{% block body %}
<div id="admin"></div>

<script type="text/template" id="admin-template">
  <div class="row">
    <div class="span12">
      <a href="#/categories">Категории</a>
      <a href="#/articles">Статьи</a>
    </div>
  </div>

  <div id="admin-content"></div>
</script>

<script type="text/template" id="admin-categories-template">
  <h3>Категории</h3>
  <a href="#" class="show-form">добавить</a>
  <form class="form-horizontal add-form hide">
    <div class="control-group">
      <label class="control-label" for="input-start">Название</label>

      <div class="controls">
        <input type="text" class="input-xxlarge typeahead name" placeholder="Название">
      </div>
    </div>

    <div class="control-group">
      <div class="controls submit">
        <input type="button" class="btn btn-success" value="Сохранить">
        <input type="button" class="btn btn-danger" value="Отмена">
      </div>
    </div>
  </form>
  
  <table id="categories-list" class="table table-condensed table-bordered table-hover order-table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Сортировка</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</script>

<script type="text/template" id="admin-category-template">
  <td><a href="#/categories/<%= _id %>"><%= title %></a></td>
  <td><%= orderNumber %></td>
  <td><i class="icon-trash delete"></i></td>
</script>

<script type="text/template" id="admin-articles-template">
  <h3>Статьи</h3>
  <a href="#" class="show-form">добавить</a>
  <form class="form-horizontal add-form hide">
    <div class="control-group">
      <label class="control-label" for="input-start">Название</label>

      <div class="controls">
        <input type="text" class="input-xxlarge typeahead name" placeholder="Название">
      </div>
    </div>

    <div class="control-group">
      <div class="controls submit">
        <input type="button" class="btn btn-success" value="Сохранить">
        <input type="button" class="btn btn-danger" value="Отмена">
      </div>
    </div>
  </form>
  <table id="categories-list" class="table table-condensed table-bordered table-hover order-table">
    <thead>
    <tr>
      <th>Название</th>
      <th>Категория</th>
      <th></th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</script>

<script type="text/template" id="admin-article-template">
  <td><a href="#/articles/<%= _id %>"><%= title %></a></td>
  <td><%= categoryId %></td>
  <td><i class="icon-trash delete"></i></td>
</script>

<script type="text/template" id="admin-article-edit-template">
  <h2><div class="editable" data-name="title"><%= title %></div></h2>
  <div class="editable" data-name="body"><%= body %></div>

  <form>
    <div class="control-group">
      <div class="controls submit">
        <input type="button" class="btn btn-success" value="Сохранить">
        <input type="button" class="btn btn-danger" value="Отмена">
      </div>
    </div>
  </form>
</script>
{% endblock %}
