{% extends 'layout.html' %}

{% block navbar %}
<div class="navbar-inner">
  <a class="brand" href="/#">SkyNews</a>
  <ul class="nav pull-right" id="auth">
    <!-- AUTH FORM -->
    {% if user %}
    <li>
      <a href="/#">{{ user.username }}</a>
    </li>

    <li>
      <a class="logout" href="#logout">Выйти</a>
    </li>
    {% else %}
    <li>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Войти
        <b class="caret"></b>
      </a>

      <div class="span4 well dropdown-menu">
        <form class="text-center" method="POST" action="" accept-charset="UTF-8" id="login">
          <div class="alert alert-error hidden">
            Неправильный логин или пароль!
          </div>
          <input type="text" class="span4" name="username" placeholder="Логин">
          <input type="password" class="span4" name="password" placeholder="Пароль">
          <button type="submit" class="btn btn-info btn-block btn-login">Войти</button>
          <div class="text-center">или</div>
          <button class="btn btn-info btn-primary btn-block" data-toggle="modal" href="#myModal">Зарегистрироваться
          </button>
        </form>
      </div>
    </li>
    {% endif %}
    <!-- END AUTH FORM -->
  </ul>
</div>
{% endblock %}

{% block body %}
<div id="admin"></div>



{% endblock %}
