{% extends 'layout.html' %}

{% block navbar %}
<div class="navbar-inner">
  <a class="brand" href="/#">SkyNews</a>
  <ul class="nav pull-right" id="auth">
    <!-- AUTH FORM -->
    {% if user %}
    <li>
      <a href="/admin">Админ</a>
    </li>

    <li>
      <a href="/#">{{ user.username }}</a>
    </li>

    <li>
      <a class="logout" href="#logout">Выйти</a>
    </li>
    {% else %}
    <li>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Войти
        <b class="caret"></b>
      </a>

      <div class="span4 well dropdown-menu">
        <form class="text-center" method="POST" action="" accept-charset="UTF-8" id="login">
          <div class="alert alert-error hidden">
            Неправильный логин или пароль!
          </div>
          <input type="text" class="span4" name="username" placeholder="Логин">
          <input type="password" class="span4" name="password" placeholder="Пароль">
          <button type="submit" class="btn btn-info btn-block btn-login">Войти</button>
          <div class="text-center">или</div>
          <button class="btn btn-info btn-primary btn-block" data-toggle="modal" href="#myModal">Зарегистрироваться
          </button>
        </form>
      </div>
    </li>
    {% endif %}
    <!-- END AUTH FORM -->
  </ul>
</div>
{% endblock %}


{% block body %}
<div id="user"></div>

<script type="text/template" id="user-template">
  <div class="row"> User template js</div>
  <div id="user-content"></div>
</script>

<script type="text/template" id="user-articles-template">
    <h3>Статьи</h3>
    <div class="user-articles"></div>
</script>


<script type="text/template" id="user-article-template">
    <div class="article span3" data-num="6">
      <div class="article-header row-fluid">
        <h4><a href="/article-route"><%= title %></a></h4>
      </div>
      <div class="row-fluid">
        <div class="article-prologue container-fluid"><%= body %></div>
      </div>
    </div>
</script>

{% endblock %}
